{% extends 'dash/base.html' %}
{% load thumbnail %}
{% block sub_heading %}
  Report
{% endblock sub_heading %}
{% block content %}
<div class="col-md-8 offset-md-2"> 
  <h1>Breed</h1>
  <hr>
  <ul>
  <h2>Total number of breeds: {{ total }}</h2>
  <h3>Total number of dogs: {{ dog }}</h3>
  <h4>Most popular breed: {{ popular }} with {{ popular.mc }} dogs </h4>
  <td>
    <img src="{% thumbnail popular.image 100x100 crop %}"/></td>
  </div>
{% endblock content %}
