{% extends "dash/base.html" %}
{% block sub_title %}
  Breeds
{% endblock sub_title %}

{% block sub_heading %}
  Add a breed
{% endblock sub_heading %}
{% block content %}
<form method ="POST" enctpye="multipart/form-data">
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'breed.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Breed List
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</form>
{% include '_form.html' with multipart=True %}
{% endblock %}