{% extends "dash/base.html" %}
{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'breed.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              New Breed
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<div class="col-md-8 offset-md-2"> 
  <h1>Breed List</h1>
  <hr>
  <ul>
  <table class="pure-table pure-table-bordered">
      <thead>
          <tr>
              <th>Name</th>
              <th>Image</th>
              <th>Date discovered</th>
              <th>Edit</th>
          </tr>
      </thead>
    {% for breed in breed_list %}
      <tbody>
          <tr>
              <td>{{ breed.name }}</td>
              <td>{% load thumbnail %}
                <img src="{% thumbnail breed.image 100x100 crop %}"/></td>
              <td>{{breed.date_discovered|date:'d/m/Y' }}</td>
              <td><a href="{% url 'breed.update' breed.pk %}">
                <i class="fa fa-edit"></i></a></td>
              </tr>
            </tbody>
    {% endfor %}
  </table>
  </ul>
</div>
{% endblock %}