{% extends "dash/base.html" %}
{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'company.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              New Company
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<div class="col-md-8 offset-md-2"> 
  <h1>Company List</h1>
  <hr>
  <ul>
    {% for company in company_list %}
      <li>
        <a href="{% url 'company.update' company.pk %}">
          <i class="fa fa-edit"></i>
          {{ company.name }}
        </a>
        {{company.revenue}}
        {{company.date_established|date:'d/m/Y' }}
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}