{% extends "dash/base.html" %}
{% block sub_title %}
  Games
{% endblock sub_title %}

{% block sub_heading %}
  Add a company
{% endblock sub_heading %}
{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'company.list' %}" class="pure-menu-link">
              <i class="fa fa-reply"></i>
              Company List
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% include '_form.html'  %}
{% endblock %}