{% extends "dash/base.html" %}
{% block content %}
<div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'contact.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              New Contact
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<div class="col-md-8 offset-md-2">
  <h1>Contact List</h1>
  <hr>
  <ul>
    {% for contact in contact_list %}
      <li>
        <a href="{% url 'contact.update' contact.pk %}">
          <i class="fa fa-edit"></i>
          {{ contact.name }}
        </a>
        {{contact.phone_number}}
        {{contact.note}}
        {{contact.company}}
        <a href="{% url 'contact.delete' contact.pk %}">
          <i class="fa fa-trash-o"></i>
           Delete
        </a>
      </li>
    {% endfor %}
</div>
{% endblock %}