{% extends 'dash/base.html' %}
{% block sub_heading %}
  Dashboard
{% endblock sub_heading %}
{% block content %}
<form>
<a class="pure-button pure-button-active" href="{% url 'contact.create' %}">Create contact</a>
<br>
<a class="pure-button pure-button-active" href="{% url 'company.create' %}">Create company</a>
<br>
<a class="pure-button pure-button-active" href="{% url 'dog.create' %}">Create dog</a>
<br>
<a class="pure-button pure-button-active" href="{% url 'breed.create' %}">Create breed</a>
<br>
<a class="pure-button pure-button-active" href="{% url 'game.create' %}">Create game</a>
<br>
<a class="pure-button pure-button-active" href="{% url 'breed.breed' %}">Breed report</a>
</form>
{% endblock content %}