{% extends "dash/base.html" %}
{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'dog.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              New Dog
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<div class="col-md-8 offset-md-2"> 
  <h1>Dog List</h1>
  <hr>
  <ul>
      <table class="pure-table pure-table-bordered">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Date born</th>
                  <th>Gender</th>
                  <th>Breed</th>
                  <th>Edit</th>
                  <th>Delete</th>
              </tr>
          </thead>
    {% for dog in dog_list %}
      <tbody>
          <tr>
              <td>{{ dog.name }}</td>
              <td>{{ dog.date_born|date:'d/m/Y' }}</td>
              <td>{{ dog.gender }}</td>
              <td>{{ dog.breed }}</td>
              <td><a href="{% url 'dog.update' dog.pk %}">
                <i class="fa fa-edit"></i></a></td>
              <td><a href="{% url 'dog.delete' dog.pk %}">
                <i class="fa fa-trash-o"></i></a></td>
              </tr>
            </tbody>
    {% endfor %}
  </table>
  </ul>
</div>
{% endblock %}