{% extends "dash/base.html" %}
{% block content %}
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="pure-menu pure-menu-horizontal">
        <ul class="pure-menu-list">
          <li class="pure-menu-item">
            <a href="{% url 'game.create' %}" class="pure-menu-link">
              <i class="fa fa-plus"></i>
              New Game
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
<div class="col-md-8 offset-md-2"> 
  <h1>Game List</h1>
  <hr>
  <ul>
    {% for game in game_list %}
      <li>
        <a href="{% url 'game.update' game.pk %}">
          <i class="fa fa-edit"></i>
          {{ game.name }}
        </a>
        {{game.genre}}
        {{game.date_released|date:'d/m/Y' }}
        {{game.company}}
        <a href="{% url 'game.delete' game.pk %}">
          <i class="fa fa-trash-o"></i>
           Delete
        </a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}