{% extends 'dash/base.html' %}
{% load static %}

{% block sub_title %}
   - Home
{% endblock sub_title %}

{% block heading %}
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
    </div>
    <div class="pure-u-1 pure-u-md-1-3 t-box">
      <img class="pure-img" src="{% static 'img/project/logo.png' %}">
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
    </div>
  </div>
{% endblock heading %}

{% block sub_heading %}
  KB - Simple Project
{% endblock sub_heading %}

{% block content %}
{% endblock content %}
